@use './colors';
@use './componets';
@use './mixins';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	// 10px
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

// =====================
//NAV
// =====================
.nav {
	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		top: 0;
		height: 100vh;
		width: 100%;
		background-image: colors.$blue-gradient-solid;
		z-index: 100;
		transform: translateX(100%);
		transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	}
	&--active {
		transform: translateX(0%);
	}

	&__item {
		display: block;
		position: relative;
		margin: 0.5em 0;
		padding: 0.5em 2em;
		text-decoration: none;
		text-align: center;
		color: colors.$pure-white;

		&::before {
			position: absolute;
			top: 0;
			left: 0;
			width: 3px;
			height: 100%;
			transform: scaleY(0);
			transition: transform 0.3s;
			background-color: colors.$pure-white;
			content: '';
		}
		&:hover::before {
			transform: scaleY(1);
		}
	}
	.burger-btn {
		position: fixed;
		top: 20px;
		right: 20px;
		padding: 1em;
		background: none;
		border: 1px solid transparent;
		cursor: pointer;
		z-index: 1000;

		&:hover {
			.burger-btn__bars::after,
			.burger-btn__bars::before {
				width: 100%;
			}
		}

		&:focus {
			outline: none;
			border: 1px solid rgba(255, 255, 255, 0.5);
			border-radius: 8px;
		}
		&__box {
			position: relative;
			width: 40px;
			height: 30px;
		}
		&__bars,
		&__bars::before,
		&__bars::after {
			@include mixins.burgerBtn;
		}
		&__bars {
			width: 100%;
			&::after {
				top: 13px;
				width: 60%;
			}
			&::before {
				top: 27px;
				width: 30%;
				transition-delay: 0.1s;
			}
		}
	}
	.black-bars-color,
	.black-bars-color::before,
	.black-bars-color::after {
		background-color: colors.$dark;
	}
	.nav-items-animation {
		animation: navItemsAnimation 1s both;
	}
}
@keyframes navItemsAnimation {
	from {
		transform: translateX(200%);
	}
	to {
		transform: translateX(0%);
	}
}

// =====================
//HEADER
// =====================
.header {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: colors.$pure-white;
	@include mixins.heroImages('../img/header/header-img-small.jpg');
	background-attachment: scroll;

	&__heading {
		font-family: 'Dancing Script', cursive;
		font-size: 4.8rem;
		font-weight: 300;
	}
	&__text {
		font-size: 1.4rem;
	}
	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background-color: colors.$pure-white;
		border: none;
		border-radius: 8px;
		color: colors.$dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: colors.$light-white;
		}
	}
}
// =====================
//MAIN
// =====================
// DREAMS SECTION
.dreams {
	&__box {
		display: flex;
		flex-direction: column;
		margin: 2em 0;
	}
	&__img {
		width: 100%;
		margin-bottom: 1em;
	}
	&__title {
		margin-bottom: 0.5em;
	}
	&__text {
		font-size: 1.4rem;
	}
}
// HERO-IMG
.hero-img {
	position: relative;
	padding: 10em 2em;
	@include mixins.heroImages('../img/main/main-img-3-small.jpg');
	text-align: center;
	color: colors.$pure-white;
	overflow: hidden;
	&__title {
		font-family: 'Dancing Script', cursive;
		margin-bottom: 0.5em;
		font-size: 4.8rem;
	}
	&__text {
		padding: 1em 0;
	}
}

// ISLANDS
.islands {
	&__card {
		position: relative;
		margin: 1em 0;
		height: 450px;
		color: colors.$pure-white;
		text-align: center;
		perspective: 1000px;

		&:hover {
			.islands__card-img {
				transform: rotateY(-180deg);
				opacity: 0;
			}
			.islands__card-info {
				transform: rotateY(0);
				opacity: 1;
			}
		}
	}
	// FRONT-VIEW
	&__card-img {
		padding: 2em;
		height: 100%;
		border-radius: 8px;
		background-size: cover;
		transition: transform 1s, opacity 1s;

		&--first {
			background-image: colors.$light-blue-gradient, url('../img/main/main-img-4-small.jpg');
		}
		&--second {
			background-image: colors.$blue-gradient, url('../img/main/main-img-5-small.jpg');
		}
		&--third {
			background-image: colors.$purple-gradient, url('../img/main/main-img-6-small.jpg');
		}
		&-title {
			font-family: 'Dancing Script', cursive;
			font-size: 2.8rem;
		}
		&-info {
			position: absolute;
			bottom: 30px;
			right: 30px;
			font-size: 1.8rem;

			i {
				margin-right: 0.3rem;
			}
		}
	}
	// BACK-VIEW
	&__card-info {
		display: flex;
		flex-direction: column;
		justify-content: center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: 8px;
		opacity: 0;
		transform: rotateY(180deg);
		transition: transform 1s, opacity 1s;
		background-image: colors.$light-blue-gradient-solid;

		&-title {
			@include mixins.islandsCardStyle;
			width: 80%;
			top: 1.2em;
			font-family: 'Dancing Script', cursive;
			font-size: 2.8rem;
		}
		&-list {
			margin: 0 auto;
			width: 70%;
			list-style: none;
			&-item {
				padding: 1em;
				font-size: 1.4rem;
				border-bottom: 1px solid colors.$pure-white;
				&:last-child {
					border-bottom: none;
				}
			}
		}
		&-btn {
			@include mixins.islandsCardStyle;
			bottom: 2em;
			padding: 1em;
			border-radius: 8px;
			width: 80%;
			border: none;
			background-color: colors.$green-color;
			cursor: pointer;

			&::before {
				background-color: colors.$green-color-hover;
			}
		}
	}
}
//OFFERS
.offers {
	position: relative;
	@include mixins.heroImages('../img/main/main-img-10-small.jpg');
	overflow: hidden;

	.section-heading {
		color: colors.$pure-white;
	}

	&__option {
		margin: 1em 0;
		box-shadow: 5px 5px 10px rgb(46, 46, 46, 0.18);
		background-color: colors.$pure-white;
		overflow: hidden;
	}

	&__option-img {
		width: 100%;
		object-fit: cover;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}
	}
	&__option-info {
		padding: 2em;
		background-color: colors.$pure-white;
		z-index: 10;
	}
	&__option-heading {
		margin-bottom: 0.5em;
		font-size: 2.4rem;
		font-weight: 300;
	}
	&__option-text {
		margin-bottom: 0.5em;
		font-size: 1.3rem;
		color: colors.$dark;
	}
	&__option-btn {
		margin-top: 1em;
		padding: 0.8em;
		width: 100%;
		color: colors.$pure-white;
		background-color: colors.$main-color;
		border: none;
		border-radius: 8px;
		cursor: pointer;

		&::before {
			background-color: colors.$secondary-color;
		}
	}
}

//OPINIONS
@media (max-width: 767px) {
	.reviews.section-padding {
		padding: 6em 0;
	}
}
.reviews {
	&__box {
		position: relative;
		margin: 2em;
		padding: 2em;
		border-radius: 8px;
		box-shadow: 3px 3px 10px #2e2e2e;
		transition: transform 0.3s;
		&:hover {
			transform: scale(0.95);
		}
	}
	&__box-img {
		position: absolute;
		top: 8%;
		left: 75%;
		transform: translate(-50%, -50%);

		img {
			width: 80px;
			height: 80px;
			object-fit: cover;
			border-radius: 50%;
		}
	}
	&__box-quote {
		margin-bottom: 1em;
		font-size: 3rem;
		color: colors.$main-color;
	}
	&__box-text {
		margin-bottom: 1em;
		font-size: 1.4rem;
		color: colors.$dark;
	}
}
// CONTACT
.contact {
	position: relative;
	background-color: colors.$light-white;
	overflow: hidden;

	.white-block-left {
		background-color: colors.$dark;
	}
	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}
	&__form-label {
		margin-bottom: 0.5em;
		text-transform: uppercase;
	}
	&__form-input {
		@include mixins.contactForm;
	}
	&__form-textarea {
		@include mixins.contactForm;
		max-width: 100%;
		min-width: 100%;
		width: 100%;
		min-height: 150px;
	}
	&__form-btn {
		align-self: flex-end;
		padding: 1em;
		width: 100%;
		max-width: 300px;
		color: colors.$pure-white;
		border: none;
		border-radius: 8px;
		background-color: colors.$main-color;
		cursor: pointer;

		&::before {
			background-color: colors.$secondary-color;
		}
	}
	.msg-status{
		display: none;
		position: absolute;
		top: 12%;
		left: 50%;
		transform: translate(-50%,-50%);
		text-align: center;
		padding: 3rem;
		width: 600px;
		border-radius: 12px;
		font-size: 2.4rem;
		&--success {
			background-color: hsl(143,83%,55%);
		}
		&--error {
			background-color: hsl(9,100%,64%);
		}
	}
}

// =====================
//FOOTER
// =====================

.footer {
	color: colors.$pure-white;
	background-color: colors.$dark;

	.wrapper {
		padding: 6em 2em 2em;
	}

	&__box {
		font-size: 1.4rem;
	}
	&__box-desktop {
		display: none;
	}
	&__box-title {
		margin-bottom: 1em;
		font-size: 3rem;
		text-transform: uppercase;
	}
	&__box-social {
		margin: 2em 0 1em;
	}
	&__box-link {
		padding: 0 0.3rem;
		font-size: 3.6rem;
		color: colors.$pure-white;
		text-decoration: none;
		transition: color 0.3s;

		&:hover {
			color: colors.$light-white;
		}

		&:first-child {
			padding-left: 0;
		}
	}
	&__bottom-text {
		padding: 2em;
		text-align: center;
	}
}

// =====================
//MEDIA
// =====================

// SMALL
@media (min-width: 576px) {
	.dreams {
		&__box {
			flex-direction: row;
			justify-content: space-between;
		}
		&__box-text {
			width: 55%;
			&--righy {
				text-align: right;
			}
		}
		&__box-img {
			width: 40%;
			&--right {
				order: 1;
			}
		}
		&__img {
			margin-bottom: 0;
		}
	}
	.offers {
		&__option {
			display: flex;
			margin: 2em 0;
			width: 100%;
		}
		&__option-img {
			width: 50%;
			height: auto;

			&--right {
				order: 1;
			}
		}
		&__option-info {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		&__option-heading {
			margin-bottom: 0.5em;
			font-size: 3.6rem;
		}
		&__option-btn {
			padding: 1em;
		}
	}
}
// MEDIUM
@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}
	.nav {
		&__item {
			font-size: 3.6rem;
		}
	}
	.header {
		&__heading {
			font-size: 6.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
		&__btn {
			font-size: 1.6rem;
		}
	}
	.dreams {
		&__text {
			font-size: 1.8rem;
		}
	}
	.hero-img {
		padding: 30rem 2em;
		hr {
			margin: 0 auto;
			width: 70%;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.islands {
		&__cards {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
		}
		&__card {
			margin: 1em;
			width: 45%;
		}
	}

	.footer {
		&__boxes {
			display: flex;
			justify-content: space-between;
		}
		&__box {
			margin: 0 2em;
			width: 25%;

			&:first-child {
				width: 50%;
			}
		}
		&__box-desktop {
			display: block;
		}
		&__box-title {
			font-size: 2.4rem;
		}
		&__box-list {
			list-style: none;
		}
		&__box-list-item {
			margin-bottom: 1em;

			a {
				color: colors.$light-white;
				text-decoration: none;
			}
		}
	}
}
// LARGE
@media (min-width: 992px) {
	.nav {
		.burger-btn {
			top: 50px;
			right: 50px;
		}
		&__item {
			font-size: 4.8rem;
		}
	}

	.header {
		background-image: colors.$blue-gradient, url('../img/header/header-img-large.jpg');
		&__heading {
			font-size: 10rem;
		}
	}
	.dreams {
		&__box {
			margin: 5em 0;
		}
		&__box-text {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			margin-bottom: 2.5em;
		}
		&__title {
			font-size: 3.6rem;
		}
		&__text {
			font-size: 2.2rem;
		}
	}
	.hero-img {
		padding: 40rem 2em;
		background-image: colors.$blue-gradient, url('../img/main/main-img-3-large.jpg');

		hr {
			width: 60%;
			max-width: 900px;
		}
		&__title {
			font-size: 7.2rem;
		}
	}
	.offers {
		background-image: colors.$blue-gradient, url('../img/main/main-img-10-large.jpg');

		&__option-img {
			height: 300px;
		}
		&__option-text {
			font-size: 1.5rem;
		}
	}
}
// XXL
@media (min-width: 1100px) {
	.islands {
		&__card {
			width: 300px;
		}
	}
}
